* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #0d0d0d;
  --secondary-color: #e55039;
  --off-black-color: #2c2c54;
  --white-color: #ffffff;
}

body {
  height: 100vh;
  background-color: var(--primary-color);
  font-family: sans-serif;
}

/* =========== Header container starts from here =========== */

header .container {
  background-color: var(--primary-color);
}

[alt='brand-logo'] {
  height: 40px;
  filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg)
    saturate(600%) contrast(1);
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 30px 100px;
}

@media (max-width: 660px) {
  #navigation {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  nav img {
    width: 150px;
  }
}

nav ul {
  color: var(--white-color);
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 600px;
}
nav .list-items .list-item {
  cursor: pointer;
}
nav .list-items .list-item:hover {
  color: var(--secondary-color);
}
#sec-nav .nav-items {
  position: relative;
  left: 400px;
}
.nav-items .nav-item:hover {
  cursor: pointer;
  filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg)
    saturate(600%) contrast(1);
}

/*========= Intro Section starts from here ===================*/

section .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 2rem;
}
.intro [alt='model'] {
  height: 500px;
}
.container .text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}
.intro [alt='model'] {
  height: 500px;
}

.container .title {
  color: #c91b28;
  font-weight: 800;
}

.intro .role {
  font-size: 4em;
  margin: 10px 0;
  font-weight: 700;
  text-transform: capitalize;
  color: white;
}

.intro p {
  color: white;
  line-height: 1.5em;
}

.primary-btn {
  background-color: #c91b28;
  padding: 0.8em 1.5em;
  width: fit-content;
  margin: 40px 0;
  font-family: inherit;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  font-size: 1.2em;
  font-weight: 600;
}

@media (max-width: 800px) {
  section .container {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
  }
}

/* --- ============== Card showcase starts from here =============*/

.works {
  background: linear-gradient(
    to right,
    #181818,
    #181818 50%,
    transparent 50%,
    transparent
  );
}

.card-group {
  display: flex;
  padding: 5rem;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
}
.card {
  color: white;
  width: 350px;
  padding: 30px 50px;
}

.card h2 {
  margin-bottom: 10px;
}

.card p {
  margin-bottom: 10px;
}

.card a {
  color: white;
  text-decoration: none;
}

.card-group .card:hover {
  cursor: pointer;
  background-color: var(--secondary-color);
  opacity: 0.9;
}

/* ----------- work showcase ends from here =============== */

/*----------- Featured projects starts from here ----->*/

.project-title {
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 50px 120px;
  align-items: center;
}

.project-title .title h1 {
  padding-bottom: 20px;
  font-size: 40px;
}
.project-title .title p {
  color: grey;
  opacity: 0.5px;
}
.primaryBtn {
  width: 200px;
  height: 100px;
  text-align: center;
  padding: 25px;
}
.primaryBtn .primary-Btn {
  font-size: 20px;
  width: 150px;
  height: 50px;
  background-color: var(--secondary-color);
  color: white;
  cursor: pointer;
}
/* Featured projects ends here------ */

/* -----------------Projects section starts from here------> */

.projects-wrapper {
  padding-left: 120px;
  padding-right: 120px;
}

.project-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.project-cards .project-card {
  height: 560px;
  margin-bottom: 10px;
}
.project-cards .project-card img {
  padding: 80px 30px;
  background-color: var(--off-black-color);
  width: 620px;
}
.project-cards h2 {
  color: var(--white-color);
  margin: 10px auto;
}
.project-cards a {
  text-decoration: none;
  color: var(--secondary-color);
}

/* Project Section ends here */

/* experience starts from here-----------> */

.experience {
  color: var(--white-color);
  padding: 50px 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.experience > .left-exp-col {
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 35px;
  width: 400px;
}

.left-exp-col p > .red-text {
  color: red;
}
.left-exp-col .lg-text-1 {
  font-size: 100px;
  font-weight: 800;
}

.right-exp-col {
  display: flex;
  width: 730px;
  gap: 15px;
  padding: 10px 10px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.right-exp-col .sm-card {
  padding: 10px;
  text-align: center;
  background-color: var(--off-black-color);
  width: 300px;
  height: 100px;
}
.right-exp-col .sm-card .red-text {
  color: var(--secondary-color);
  font-size: 30px;
  font-weight: 800;
}
.sm-card p .sm-text-2 {
  position: relative;
  top: 10px;
}

/* experience ends from here */

/* Working section starts from here ------------*/

.working-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0.4rem;
  background-color: var(--off-black-color);
}

.offer {
  margin-left: 1rem;
  color: var(--white-color);
}
.offer h2 {
  padding-bottom: 20px;
  font-size: 50px;
}
.offer p {
  color: whitesmoke;
  opacity: 0.5;
}

.btn-working button {
  cursor: pointer;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
  font-size: 16px;
  color: white;
  background-color: var(--secondary-color);
  border: transparent;
  margin-right: 15rem;
}

/* ========= secondary  navigation starts from here ============ */

#sec-nav {
  display: flex;
  justify-content: space-around;
  padding-left: 50px 50px;
}

/* -------------Footer starts from here ======================== */

footer {
  background-color: var(--off-black-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 8rem;
}
footer .socials {
  display: flex;
  padding-right: 25rem;
  gap: 2rem;
}
[alt='facebook'] {
  cursor: pointer;
  padding-left: 1rem;
}
[alt='facebook']:hover {
  filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg)
    saturate(600%) contrast(1);
}
[alt='twitter'] {
  cursor: pointer;
}
[alt='twitter']:hover {
  filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg)
    saturate(600%) contrast(1);
}

[alt='youtube'] {
  cursor: pointer;
}
[alt='youtube']:hover {
  filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg)
    saturate(600%) contrast(1);
}
